<settings>
   <setting id="server" type="text" label="30000" default="http://127.0.0.1/ampache/"/>
   <setting id="username" type="text" label="30001" default="ampache"/>
	 <setting id="password" type="text" label="30002" default="ampache"/>
   <setting id="use_api_key" type="bool" label="30003" default="false"/>
   <setting id="api_key" type="text" label="30004" default=""/>
   <setting id="random_items" type="enum" label="30005" values="3|6|9|12|15|18|21" default="1"/>
   <setting id="api-version" type="number" value="350001" label="30008" />
   <setting id="token" type="text" label="30009" />
	 <setting id="token-exp" type="text" label="30010" />
	 <setting id="disable_ssl_certs" type="bool" label="30011" default="false"/>
</settings>
